{% extends 'dashboard_base.html' %}
{% load static %}

{% block page-header %}
    <div class="content bg-gray-lighter">
        <div class="row items-push">
            <div class="col-sm-7">
                <h1 class="page-heading">
                    Adicionar Usuário <small>Novos usuários cadastrados no sistema.</small>
                </h1>
            </div>
            <div class="col-sm-5 text-right hidden-xs">
                <ol class="breadcrumb push-10-t">
                    <li>Usuários</li>
                    <li><a class="link-effect" href="">Adicionar</a></li>
                </ol>
            </div>
        </div>
    </div>

{% endblock %}

{% block page-content %}
    <div class="content content-boxed">
        <!-- Main Content -->

            <div class="content content-narrow">
                <!-- Mega Form -->
                <div class="block block-bordered">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="content_toggle"><i class="si si-arrow-up"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Adicionar Usuário</h3>
                    </div>
                    <div class="block-content">
                        <form class="form-horizontal push-10-t push-10" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="row" >
                                <div class="col-sm-7">
                                    <div class="form-group">

                                        {% if profile_form.errors %}
                                            {% for field in profile_form %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ field.label }} {{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in profile_form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}

                                        {% if user_form.errors %}
                                            {% for field in user_form %}
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ field.label }} {{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                            {% for error in user_form.non_field_errors %}
                                                <div class="alert alert-danger">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                            {% endfor %}
                                        {% endif %}



                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="id_first_name">Firstname</label>
                                            <input class="form-control input-lg" id="id_first_name" name="first_name" placeholder="Enter your firstname.." type="text" required="">
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="id_last_name">Lastname</label>
                                            <input class="form-control input-lg" id="id_last_name" name="last_name" placeholder="Enter your lastname.." type="text" required="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="id_birth_date">Age</label>
                                            <input class="form-control input-lg" id="id_birth_date" name="birth_date" placeholder="Enter your age.." type="date" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="id_email">Email</label>
                                            <input class="form-control input-lg" id="id_email" name="email" placeholder="Enter your email.." type="email" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="id_username">Login</label>
                                            <input class="form-control input-lg" id="id_username" name="username" placeholder="Enter your username.." type="text" required="">
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="id_password1">Password</label>
                                            <input class="form-control input-lg" id="id_password1" name="password1" placeholder="Enter your username.." type="text" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="id_password2">Confirm Password</label>
                                            <input class="form-control input-lg" id="id_password2" name="password2" placeholder="Enter your username.." type="text" required="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="id_gender" class="col-xs-6">Gender</label>
                                             {{ user_form.gender }}
                                        </div>
                                        <div class="col-xs-6">
                                            <label for="id_permission" class="col-xs-6">Perfil</label>
                                             {{ user_form.permission }}

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                          <label for="id_location">Endereço:</label>
                                          <input name="location" required="" id="id_location" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                          <label for="id_photo">Photo:</label>
                                          <input name="photo" required="" id="id_photo" type="file">
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <label for="bio">Bio</label>
                                            <textarea class="form-control input-lg" id="bio" name="bio" rows="22" placeholder="Enter a few details about yourself.."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="block-content block-content-full bg-gray-lighter text-center">
                                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-check push-5-r"></i> Save Changes</button>
                                <button class="btn btn-sm btn-warning" type="reset"><i class="fa fa-refresh push-5-r"></i> Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END Mega Form -->

            </div>
        <!-- END Main Content -->
    </div>
{% endblock %}